<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509162180610-9cbe6glu47r6i4a0a3lflj1jag46ggbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509162180610-9cbe6glu47r6i4a0a3lflj1jag46ggbe</string>
	<key>API_KEY</key>
	<string>AIzaSyDOEO67EIBWaIC2VCevdGwIdRW7EvEoI04</string>
	<key>GCM_SENDER_ID</key>
	<string>509162180610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>round-office-305316</string>
	<key>STORAGE_BUCKET</key>
	<string>round-office-305316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509162180610:ios:bbc31cb13a3e46662f171b</string>
	<key>DATABASE_URL</key>
	<string>https://round-office-305316-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>